# ======================
# 🔐 Environment files
# ======================
.env
.env.*
*.local

# ======================
# 📦 Dependencies
# ======================
node_modules/

# ======================
# 🏗 Build outputs
# ======================
dist/
dist-ssr/
build/
coverage/

# ======================
# 🧾 Logs
# ======================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ======================
# 🖥 OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# 💻 Editor files
# ======================
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ======================
# 🚛 Heavy 3D Assets
# ======================
src/assets/peterbilt_379_optimus_prime.glb


# ======================
# ⚙️ Misc
# ======================
.tmp/
.cache/